" Disable compatibility with vi which can cause unexpected issues.
set nocompatible
" Enable type file detection. Vim will be able to try to detect the type of file in use.
filetype on
" Enable plugins and load plugin for the detected file type.
filetype plugin on
" Load an indent file for the detected file type.
filetype indent on
" Highlight cursor line underneath the cursor horizontally.
set cursorline
set number
set relativenumber
" Highlight cursor line underneath the cursor vertically.
set cursorcolumn
" Do not let cursor scroll below or above N number of lines when scrolling.
set scrolloff=8
" Do not wrap lines. Allow long lines to extend as far as the line goes.
set nowrap
" Show the mode you are on the last line.
set showmode
" Show matching words during a search.
set showmatch
" Use highlighting when doing a search.
set hlsearch
" While searching though a file incrementally highlight matching characters as you type.
set incsearch
" Ignore capital letters during search.
set ignorecase

noremap <Space> <Nop>
map <Space> <Leader>
inoremap <C-c> <esc>
nnoremap n <C-d>
nnoremap m <C-u>
nnoremap , :
nnoremap o o<esc>
nnoremap <Leader>y "+y
nnoremap <Leader>v :vsplit<cr>
nnoremap <Leader>h :split<cr>
